# файлы которые будут игнорироваться Git
# не отправлять файл .env в репозиторий
.env


# игнорировать файлы которые начинается со слова mаіn
main*
# ! не будет игнорировать
!main.py

# игнорирование директорий/папок
# secrets
# secrets/
# secrets/*
secrets
!secrets/passwords.txt
