# *.*

# файлы которые будут игнорироваться Git
# не отправлять файл .env в репозиторий
# можно прописывать имя файла
.env
ignorethis.py

# можно игнорировать файлы по расширению
# будут игнорироваться все пайтон файлы
*.py
# кроме main.py
!main.py

# можно игнорировать файлы название которых начинается 
# с определенного со слова config
config*

# игнорировние директорий/папок
# secrets
secrets/
# secrets
# secrets/*
# !secrets/passwords.txt

# *.*
# !index.html
# index.js
# index.html